<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015 Joaquim Ley - www.joaquimley.com
  ~ All rights reserved.
  ~
  ~ Redistribution, modification or use of source and binary forms are NOT allowed
  ~ without permission. The name of Joaquim Ley, or joaquimley.com may not be used
  ~ to endorse products derived without previous authorization.
  ~ THIS SOFTWARE IS PROVIDED 'AS IS' AND WITHOUT ANY EXPRESS OR
  ~ IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
  ~ WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joaquimley.byinvitationonly" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- WARNING: Needed for testing with robotium, remove before going to production -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_acronym"
        android:theme="@style/CustomMaterialLikeTheme" >

        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditUserDetailsActivity"
            android:label="@string/title_activity_edit_user_details" >
        </activity>
        <activity
            android:name=".activities.ParticipantsListActivity"
            android:label="@string/title_activity_participants_list" >
        </activity>
        <activity
            android:name=".activities.BookmarksListActivity"
            android:label="@string/title_activity_bookmarked_list" >
        </activity>
        <activity
            android:name=".activities.SessionsListActivity"
            android:label="@string/title_activity_bookmarked_list" >
        </activity>
    </application>

</manifest>
