<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ GNU GENERAL PUBLIC LICENSE
  ~                        Version 3, 29 June 2007
  ~
  ~     Copyright (c) 2015 Joaquim Ley <me@joaquimley.com>
  ~
  ~     This program is free software; you can redistribute it and/or
  ~     modify it under the terms of the GNU General Public License
  ~     as published by the Free Software Foundation; either version 2
  ~     of the License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program; if not, write to the Free Software
  ~     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joaquimley.byinvitationonly" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- WARNING: Needed for testing with robotium, remove before going into production -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_acronym"
        android:theme="@style/CustomMaterialLikeTheme" >

        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.EditUserDetailsActivity"
            android:label="@string/title_activity_edit_user_details" >
        </activity>
        <activity
            android:name=".activities.ParticipantsListActivity"
            android:label="@string/title_activity_participants_list" >
        </activity>
        <activity
            android:name=".activities.BookmarksListActivity"
            android:label="@string/title_activity_bookmarked_list" >
        </activity>
        <activity
            android:name=".activities.SessionsListActivity"
            android:label="@string/title_activity_bookmarked_list" >
        </activity>
    </application>

</manifest>
